<h1>Homepage</h1>
<p>Welcome to my personal website</p>
<ul>
  <li>
    <a href="/about">About</a>
  </li>
  <li>
    <a href="/register">Register</a>
  </li>
  <li>
    <a href="/login">Login</a>
  </li>
  <li>
    <a href="/contact">Contact</a>
  </li>
</ul>

<img src="images/book.jpg" alt="book" width="400px" />