<h1>Register page</h1>
<p>Please register</p>
<ul>
  <li>
    <a href="/">Home</a>
  </li>
</ul>
<form method="post" action="register">

  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Your Name</label>
      <input
        name="name"
        class="u-full-width"
        type="text"
        placeholder="Enter your name"
        id="exampleEmailInput"
      />
    </div>
    <div class="six columns">
      <label for="exampleEmailInput">Your email</label>
      <input
        name="email"
        class="u-full-width"
        type="email"
        placeholder="test@mailbox.com"
        id="exampleEmailInput"
      />
    </div>

    <div class="six columns">
      <label for="exampleEmailInput">Your password</label>
      <input
        name="password"
        class="u-full-width"
        type="password"
        placeholder="test@mailbox.com"
        id="exampleEmailInput"
      />
    </div>
  </div>

  <input class="button-primary" type="submit" value="Submit" />
</form>